# GEC Data Science Program
## Level 1, Lab 1

### Data download

In Lab sessions we use Titanic Data to demonstrate concepts:
https://www.kaggle.com/c/titanic

### Environment Setup

We will be using Anaconda with Python 2.7 (Python 3.6 works too).
https://www.anaconda.com/download/

### Hello world examples

In [ ]:
import numpy as np

In [ ]:
np.arange(10)

In [ ]:
np.random.rand(10)

In [ ]:
np.random.rand(10,3)

### Pandas review

#### Working with data frames

In [ ]:
import pandas as pd

In [ ]:
d=pd.DataFrame(data=np.random.rand(100,3),columns=['A','B','C'])

In [ ]:
d.head()

### Loading data

In [ ]:
d=pd.read_csv("train.csv")

In [ ]:
d.head()

#### Q: How to change index to "PassengerId"?

In [ ]:
d.set_index("PassengerId", inplace=True)

In [ ]:
d.head()

#### Q: how many data points (rows) do we have?

#### General information about the dataset

In [ ]:
d.info()

#### Two ways to reference a column:

In [52]:
#d["Age"] and d.Age

#### Q: What's the mean age of passengers?

#### Q: How many male/female passengers are there?

#### Quick summary of all numerical variables

In [ ]:
d.describe()

#### Q: How many (unique) Passenger Classes 'Pclass' are there?

#### Q: How many passengers survived?

#### Q: How many male and female passengers are there?

#### Q: How many females between 20 and 30?

In [ ]:
len(d[(d.Sex == 'female') & (d.Age>=20) & (d.Age<=30)])

#### Q: How many male passengers survived?

#### Q: How many female passengers survived?

#### Q: What percentage of male passengers survived?

#### Q: What percentage of female passengers survived?

### Visualizations

In [ ]:
import numpy as np
from matplotlib import pyplot as plt

In [ ]:
%matplotlib inline 
#notebook

In [ ]:
a=np.random.randn(1000)

In [ ]:
b=np.random.randn(1000)

In [ ]:
plt.plot(a,':b')

In [ ]:
plt.hist(a, bins=50);

In [ ]:
plt.hist([a,b]);
plt.legend(["a","b"]);
plt.xlabel("counts");
plt.title("Test");

### Exploring data

#### Histrogram of Age

In [ ]:
d.hist("Age");

In [ ]:
plt.hist(d["Age"]);

#### Q: What is the distribution of Age in 'survided' vs 'not survived' groups?

In [ ]:
d.hist(column='Age',by='Survived');

#### Q: Can we put the two distributions (above) in the same graph?

In [ ]:
idx_died = d.Survived == 0
idx_survived = d.Survived == 1
age = d.Age.fillna(d.Age.mean())

In [ ]:
plt.hist([age[idx_died], age[idx_survived]], normed=True);
plt.legend(['died','survived']);

In [ ]:
plt.hist(d.Age.fillna(0));

#### Q: What is the distribution (histogram) of "Embarked"?

In [ ]:
d.Embarked.value_counts(dropna=False).plot.bar();

### Joining Tables

#### Let's say our data was given in two datasets:

In [ ]:
d=pd.read_csv("train.csv")
d1=d[["PassengerId","Name"]]
d2=d[["PassengerId","Age"]][d["Age"].notnull()].sort_values("Age").reset_index(drop=True)

In [ ]:
d1.head()

In [ ]:
len(d1)

In [ ]:
d2.head()

In [ ]:
len(d2)

In [ ]:
#merge is similar to SQL join
d3=d1.merge(d2,on="PassengerId")

In [ ]:
d3

### *Q: How many different passenger 'titles' (Mr. Miss. Dr. etc) are there? What is the distribution?

In [ ]:
d["title"]=

In [ ]:
title_counts = d.title.value_counts()

In [ ]:
title_counts

In [ ]:
title_counts.plot.bar(log=True, grid='on');